.cart-container{
   display: column;
   grid-template-columns: 1fr;
   grid-template-rows: auto;
}

.cart-title {
    margin: 50px 0px 50px 0px;
    font-size: 15pt;
    padding-left: 15pt;
    text-decoration: underline;
}

.selected-subscription {
    margin: 50px 0px 50px 0px;
    font-size: 15pt;
    padding-left: 15pt;
    text-decoration: underline;
}

.total-container {
    
}

.total-container > h1 {
    font-size: 16pt;
    padding-left: 15pt;
}

.total-container > h3 {
    padding-left: 15pt;
}

.cart-boxes {
    display: grid;
}

.cart-mappedboxes-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 25px;
    
}

.cart-box-container {
    text-align: center;
    border: 1px solid black;
    height: 33vh;
    width: 90vw;
    margin: auto;
    border-radius: 5pt;
    box-shadow: 4px 4px 8px #8C4A44;
}

@media(min-width: 767px) {
    .cart-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        text-align: center;
    }
    .cart-title {
        grid-column: 1/-1;
        padding: 0;
    }
    .selected-subscription {
        grid-column: 1/-1;
        grid-row: 3/4;
        padding: 0;
    }
    .total-container {
        grid-column: 1/-1;
        grid-row: 4/5;
        padding: 0;
    }
    .total-container > h1 {
        padding: 0;
    }
    .total-container > h3 {
        padding: 0;
    }
    .cart-box-container {
        width: 40vw;
    }
}


